  ##   Python Basics
      -- Hello World
      -- variables

### shortcuts
- y button -> code
- esc+ m -> markdown  ## heading
- esc+ b => cell below
- esc +a => cell above

In [4]:
a=10
b=10.5
c="abc"
d=True
e=5+3j

In [5]:
print(a,type(a))
print(b,type(b))
print(c,type(c))
print(d,type(d))
print(e,type(e))

10 <class 'int'>
10.5 <class 'float'>
abc <class 'str'>
True <class 'bool'>
(5+3j) <class 'complex'>

### input and output in python

In [8]:
a=input("enter name : ")
print("Hello",a)

enter name : sanju
Hello sanju

In [17]:
c=int(19.3)
print(c)

b=int(float(input("enter num : ")))
print(b)

19
enter num : 19.4
19

#### more about print function
    - format
    - end and sep

In [18]:
print("hello","world","I","am","snjumaheshwari",sep='+')

hello+world+I+am+snjumaheshwari

In [20]:
a=10
b=20
print(a,end= " : ")
print(b)

10 : 20

In [23]:
a="sanju"
b="baby"
print("{1} loves {0}".format(a,b))
print("{} loves {}".format(a,b))

baby loves sanju
sanju loves baby

In [25]:
a=10
b=20
print(" the numbers are %d and %d"%(a,b))

 the numbers are 10 and 20

### Variables Datatypes and operators

 - A type of identifier
     - Rules for naming identifier 
         -- first character should be letter or _
         -- no special symbol is allowed except _
         -- case sensitive
         -- can be in any language

In [26]:
a="संजू"
b="عشق"
c="宝宝"
print(a,b,c)

संजू عشق 宝宝

### Datatypes -- int float str complex bool list set dictionary

### Operators
 ####  - Arithmatic operator ... + - *  / // % **

In [28]:
a=10
b=21
print("%0.4f"%(a/b))

0.4762

### assignment operator =

In [31]:
a=10
b=20
c=30
d=40
a,b,c,d=b,a,d,c

### comments 
-- good for readability , debugging , understanding

In [35]:
# this is comment
''' trick to make multiline
    comment---
    triple quote.. known as documentation style
    simply make a string does not assign it to any other variable
    '''
a=''' fuck '''
print(a)

 fuck

### Indentation and Whitespace
    - jaan of python
    - Do not mix tabs and spaces
    - leading whitespace determine indetantation
    - python does not have curly brackets for block . .

### Operator and expressions
    - a= ( 2*y + 5) %m
    - operands : y,m,a,2,5
    - operators :  * + ( ) % =
    - expression : ( 2*y+5) %m
    - statement : a= (2*y +5)%m

In [1]:
10**3

1000

In [2]:
10//3

3

### Comparison operators return (True/False)

- a==b
- a<b
- a<=b
- a>b
- a>=b
- a!=b

### Compound assignmnt

- a+= b
- a-=b
- a*=b
- a/=b
- a++ (Not supported) 
- ++a (Not supported)

### Logical Operator ( True/False)
    -and
    -or
    -not

### Control Flow in python

In [29]:
weather=input()
if weather=="Rainy":
    print("Don't go outside")
elif weather== "Cool":
    print("Let's play Cricket")
else:
    print("Let's go for shopping ")

Sunny
Let's go for shopping

### Loops in Python

In [33]:
n=10
i=1
while i<=n:
    print("Steps %d"%i)
    i+=1
print("Loop Finished")

Steps 1
Steps 2
Steps 3
Steps 4
Steps 5
Steps 6
Steps 7
Steps 8
Steps 9
Steps 10
Loop Finished

In [35]:
for i in range(1,11):
    print(i,end=' ')

1 2 3 4 5 6 7 8 9 10

In [36]:
for i in range(1,10,2):
    print(i,end=',')

1,3,5,7,9,

In [32]:
# Wap to print table of 2
"""
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 *10 = 20
"""

for i in range(1,11):
    print(2,"*",i,"=",2*i)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [37]:
## calculate factorial of number
n=int(input())
ans=1
for i in range(1,n+1):
    ans*=i
print(ans)

10
3628800

In [38]:
## Infinite Loop :-
"""
n=10
while(n!=0):
    print(n)
    n=n+1
"""

'\nn=10\nwhile(n!=0):\n    print(n)\n    n=n+1\n'

In [ ]:
## Reverse Loop

In [40]:
for i in range(10,1,-1):
    print(i,end=' ')

10 9 8 7 6 5 4 3 2

In [39]:
## Nested Loop - 2D Matrix

In [43]:
n=7
for x in range(n):
    for y in range(n):
        print(max(x+1,y+1,n-x,n-y),end=' ')
    print()

7 7 7 7 7 7 7
7 6 6 6 6 6 7
7 6 5 5 5 6 7
7 6 5 4 5 6 7
7 6 5 5 5 6 7
7 6 6 6 6 6 7
7 7 7 7 7 7 7

In [45]:
### Break, continue, Pass Statement
for i in range(1,10):
    pass

In [50]:
for i in range(1,10):
    if(i==5):
        #pass 
        print(i*i)
        #continue
        break
    print(i)

1
2
3
4
25

### Functions

In [54]:
def myFunc(score,lang,rollNo):
    print("I scored %d in %s"%(score,lang))
    print(rollNo)
    
myFunc(rollNo=1010, lang="Python",score=10)

I scored 10 in Python
1010

In [59]:
print(end= ' ',"Hello") # positional argumnet follows keyword argument

SyntaxError: positional argument follows keyword argument (<ipython-input-59-5479a7152e5c>, line 1)

In [60]:
myFunc(score=1,lang='java',10)

SyntaxError: positional argument follows keyword argument (<ipython-input-60-f5da7b7a825a>, line 1)

In [61]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

### String and Builtin Methods

In [69]:
a= "snjumaheshwari"
print(a)

snjumaheshwari

In [70]:
print(a[0])

s

In [71]:
print(a[-2])

r

In [72]:
print(len(a))

14

In [73]:
a[0]='b' # immutable

TypeError: 'str' object does not support item assignment

In [74]:
a= "sanjay Maheshwari"

In [75]:
for i in range(len(a)):
    print(a[i],end= ' ')

s a n j a y   M a h e s h w a r i

In [76]:
for i in a:
    print(i,end=' ')

s a n j a y   M a h e s h w a r i

In [78]:
a= "Mango"
b="Juice"
print(a+b)
print(a*5)

MangoJuice
MangoMangoMangoMangoMango

In [80]:
# Range Slicing 
a[1:]

'ango'

In [81]:
a[1:-1]

'ang'

In [83]:
a[-2:]

'go'

In [85]:
# Membership
'go' in a

True

In [86]:
a="sanju"
b="an"
if b in a:
    print("Yes")
else:
    print("No")

Yes

In [88]:
# String Formatting
print("My gf name is %s and she is from %s"%("Jyoti","West bengal"))

My gf name is Jyoti and she is from West bengal

In [98]:
para= ' This is some paragraph written here 
and i do not know
what to do of it '

SyntaxError: EOL while scanning string literal (<ipython-input-98-56ac6832e682>, line 1)

In [99]:
para =""" This is some paragraph
written here 
and i do not know
what to do of it """

In [100]:
words=para.split()
print(words,type(words))

['This', 'is', 'some', 'paragraph', 'written', 'here', 'and', 'i', 'do', 'not', 'know', 'what', 'to', 'do', 'of', 'it'] <class 'list'>

In [101]:
phrases=para.splitlines()
print(phrases)

[' This is some paragraph', 'written here ', 'and i do not know', 'what to do of it ']

In [103]:
fruit="Mango"
fruit=fruit.upper()
print(fruit)

MANGO

In [104]:
fruit=fruit.lower()
print(fruit)

mango

In [105]:
shake="   Apple    Shake     "
print(shake,len(shake))

   Apple    Shake      22

In [106]:
shake= shake.lstrip()
print(shake)
print(len(shake))

Apple    Shake
19

In [107]:
shake=shake.rstrip()
print(shake)
print(len(shake)) 

# shake=shake.strip()

Apple    Shake
14

In [108]:
a="982992"
a.isdigit()

True

In [109]:
a="abcd 1"
a.isalpha()

False

In [110]:
a="12abc@"
a.isalnum()

False

In [111]:
a="12abcA"
print(a.islower())

False

In [113]:
a="12a"
print(a.islower(),a.isupper())

True False

In [114]:
a="12A"
print(a.islower(),a.isupper())

False True

In [115]:
a="12"
print(a.islower(),a.isupper())

False False

In [116]:
a=''
print(a.islower(),a.isupper())

False False

In [123]:
a="I love my wife and she love me as well"
a.find("love")

2

In [140]:
a.find('love',4,10)

-1

In [124]:
a.rfind("love")

23

In [125]:
a.index('love')

2

In [137]:
a.index('love',3,28)

23

In [126]:
a.rindex('love')

23

In [127]:
a.find("sex")

-1

In [128]:
a.index("sex")

ValueError: substring not found

In [130]:
a=a.replace("wife","baby")
print(a)

I love my baby and she love me as well

In [131]:
a.count("love")

2

In [132]:
l=a.split()
print(l)

['I', 'love', 'my', 'baby', 'and', 'she', 'love', 'me', 'as', 'well']

In [133]:
b="-"
b=b.join(l)
print(b)

I-love-my-baby-and-she-love-me-as-well


### More about Python

In [49]:
import this

In [50]:
import sys
del sys.modules['this']

In [51]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [47]:
help()

Welcome to Python 3.6's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the Internet at http://docs.python.org/3.6/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help> reimport
No Python documentation found for 'reimport'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.

help> q

You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

In [48]:
this

In [9]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [12]:
a=keyword.kwlist
print(len(a))

33

In [24]:
a=None
b=None
a==b

True

In [25]:
a!=b

False

In [26]:
a is b

True

In [28]:
a >b  # anything else will produce the similar result

TypeError: '>' not supported between instances of 'NoneType' and 'NoneType'

In [52]:
'break' in keyword.kwlist

True

In [142]:
name="sanju maheshwari"
a=name.capitalize()
b=name.title()
c=name.upper()
d=name.lower()
print(a)
print(b)
print(c)
print(d)

Sanju maheshwari
Sanju Maheshwari
SANJU MAHESHWARI
sanju maheshwari

### Lists

In [143]:
l=[1,2,3,4,5,'hello']
print(l,type(l))

[1, 2, 3, 4, 5, 'hello'] <class 'list'>

In [144]:
l2=list([1,2,3])
print(l2)

[1, 2, 3]

In [145]:
l3=list(l2)
print(l3)

[1, 2, 3]

In [146]:
l3=l3+l2
print(l3)
l3.extend(l2)
print(l3)

[1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [147]:
# list of Square of the numbers from 1 to 5
l4=[ i*i for i in range(1,6)]
print(l4)

[1, 4, 9, 16, 25]

## List slicing 
- same as string slicing

### insertion and deletion
- append
- insert
- remove
- pop
- del

In [166]:
l=[1,2]
l.append(3)
print(l)
l.append(l)
print(l)

[1, 2, 3]
[1, 2, 3, [...]]

In [167]:
len(l)

4

In [168]:
l.append([1,2,3])
print(l)

[1, 2, 3, [...], [1, 2, 3]]

In [169]:
l+= [4,5,6]
print(l)

[1, 2, 3, [...], [1, 2, 3], 4, 5, 6]

In [170]:
l.remove(5)
print(l)

[1, 2, 3, [...], [1, 2, 3], 4, 6]

In [171]:
l.remove(5)

ValueError: list.remove(x): x not in list

In [172]:
l.pop()
print(l)

[1, 2, 3, [...], [1, 2, 3], 4]

In [173]:
del l[0]

In [174]:
print(l)

[2, 3, [...], [1, 2, 3], 4]

In [175]:
l.insert(2,10)

In [176]:
print(l)

[2, 3, 10, [...], [1, 2, 3], 4]

In [177]:
l.sort()

TypeError: '<' not supported between instances of 'list' and 'int'

In [179]:
l=[4,3,2,16,18]
m=max(l)
max_index=l.index(m)
print(m,max_index)

18 4

In [180]:
sorted(l)

[2, 3, 4, 16, 18]

In [181]:
l

[4, 3, 2, 16, 18]

In [182]:
l=sorted(l)

In [183]:
print(l)

[2, 3, 4, 16, 18]

In [187]:
l=[4,5,1,3,2]
l.sort()
print(l)
l.sort(reverse=True)
print(l)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [189]:
# read a list of numbers
numbers=[int(i) for i in input().split()]
print(numbers)
print(type(numbers))

1 4 5 76 45
[1, 4, 5, 76, 45]
<class 'list'>

### Dictionaries

In [190]:
d=dict()
d['a']=10
d['b']=20
d['c']=30

# store info in key-value pair form
# look up value for any  key... key must be unique
# key values are not solrted in any order

In [195]:
d2={}
d1={'a':10,'a':20}
print(d1,d2)

{'a': 20} {}

In [197]:
d2['c']=100
d2['d']=[12,14]
d2['e']="hello"
d2['f']={'a':10,'b':20}
print(d2)

{'c': 100, 'd': [12, 14], 'e': 'hello', 'f': {'a': 10, 'b': 20}}

In [198]:
d2['f']['a']

10

In [200]:
print(d2.keys())

dict_keys(['c', 'd', 'e', 'f'])

In [201]:
print(d2.values())

dict_values([100, [12, 14], 'hello', {'a': 10, 'b': 20}])

In [202]:
d2.get('f')

{'a': 10, 'b': 20}

In [203]:
d2.get('g',0)

0

In [205]:
print(d2.get('g'))

None

In [207]:
d2.items()

dict_items([('c', 100), ('d', [12, 14]), ('e', 'hello'), ('f', {'a': 10, 'b': 20})])

In [209]:
l=list(d2.items())
print(l)

[('c', 100), ('d', [12, 14]), ('e', 'hello'), ('f', {'a': 10, 'b': 20})]

In [211]:
d1.update(d2)
print(d1)

{'a': 20, 'c': 100, 'd': [12, 14], 'e': 'hello', 'f': {'a': 10, 'b': 20}}

In [212]:
d.clear()
print(d,len(d))

{} 0

In [216]:
keys=[1,2,3,4,5,6]
values=[1,4,9,16,25,36]
d=dict()
for i,j in zip(keys,values):
    d[i]=j

d2=dict(zip(keys,values))
print(d,d2,sep='\n')

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

### Tuples

- Hold together multiple objects
- immutable  ( update is not allowed) 
- comma separeted entries within ()
- tuples are faster and consume less memory than list
- return multiples values from a function
- safe "write-protected " code : asserts data is constant

In [217]:
t=(1,2,3,"hello")
print(t)

(1, 2, 3, 'hello')

In [218]:
t[0]

1

In [219]:
t[0]=2

TypeError: 'tuple' object does not support item assignment

In [220]:
t[0:2]

(1, 2)

In [224]:
#convert a tuple into a list
l=list(t)
print(l)
l[0]=5
print(l)

[1, 2, 3, 'hello']
[5, 2, 3, 'hello']

In [226]:
#convert a list to tuple
t2=tuple(l)
print(t2)

(5, 2, 3, 'hello')

In [230]:
t3=t+t2
t4=t*3
print(t3)
print(t4)

(1, 2, 3, 'hello', 5, 2, 3, 'hello')
(1, 2, 3, 'hello', 1, 2, 3, 'hello', 1, 2, 3, 'hello')

In [231]:
del t

In [232]:
print(t)

NameError: name 't' is not defined

### Set :-

- Unique elements 
- unordered
-

In [234]:
s=set([1,2,2,2,3,4,5])
s1={1,3,4}
print(s)
print(s1)

{1, 2, 3, 4, 5}
{1, 3, 4}

In [235]:
s2={5,6,11,1,1}
print(s2)

{1, 11, 5, 6}

In [237]:
s2.add(50)
print(s2)

{1, 5, 6, 11, 50}

In [244]:
s=s.union(s2)
#s= s |s2 
print(s)

{1, 2, 3, 4, 5, 6, 11, 50}

In [245]:
s.difference(s2)

{2, 3, 4}

In [246]:
s-s2

{2, 3, 4}

In [247]:
s & s2

{1, 5, 6, 11, 50}

In [248]:
s.intersection(s2)

{1, 5, 6, 11, 50}

In [249]:
4 in s

True

In [250]:
14 in s

False

In [254]:
a1={1,2,3,4}
a2={2,3,4,5,6}
print(a1 ^ a2)  # those element which are only in one of the sets

{1, 5, 6}

In [2]:
a={1,2,3}
b={1}
a<b

False

In [3]:
a>b # is b in a ? i.e. b is subset of a? ( a>=b b is subset or a itself )

True

In [4]:
b.add(5)

In [5]:
a>b

False

In [6]:
a<b

False

In [8]:
a={1,2,3,4}
b={1,2,3,4}
a>=b

True

In [9]:
a ^b == (a|b) - (a&b)

True